<div id="harambe">
    <a href="/"><img src="images/arrow.png" id="backArrow"></a>
  <h1>LOW GAS WARNING</h1>
  <div class="row">
    <div class="one column">
      <meter value="{{fuel}}" max="100">Low</meter>
    </div>

    <div class="eleven columns">
      <button class="button-primary find-button" ng-click="findNearest()">FIND NEAREST GAS STATION</button></br>
      <button class="button-primary find-button" ng-click="findCheapest()">FIND CHEAPEST GAS STATION</button></br>
      <button class="button-primary find-button favorite-button" ng-click="findFavorite()">FIND FAVORITE GAS STATION</button>
    </div>
</div>