body {
	background: #44484f;
}

#harambe{
	padding: 50px 40px;
	color:white;
}

#main, #harambe {
    text-align: center;
    background-color: transparent;
}

.find-button{
	margin-left: 100px;
	text-align: center;
	height: 50px;
	font-size: 20px;
	margin-top: 10px;
	width: 400px;
}

.favorite-button{
	background-color: #59c655 !important;
	border-color: #59c655 !important;
}

#backArrow{
	position:absolute;
	left: 10px;
	height: 50px;
	top: 102px;
}


#gpsMaskingIcon{
	border:none;
}
meter{
	width: 190px;
    margin-top: 70px;
    margin-left: 40px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	height: 70px;
}

#close-x {
  position: absolute;
  float: right;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close-x img {
  width: 100%;
}
